<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET uygulamanızı nasıl yapılandıracağınız hakkında daha fazla bilgi için lütfen şu adresi ziyaret edin:
   https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />

		<pages enableEventValidation="true"></pages>

		<authentication mode ="Forms">
			<forms name =".ASPXAUTH" loginUrl="Giris.aspx" defaultUrl="İndex.aspx" timeout="30" protection="All" cookieless="AutoDetect" path="/" requireSSL="false" slidingExpiration="true" enableCrossAppRedirects="false"></forms>
		</authentication>

		<membership defaultProvider="UyelikSaglayici">
			<providers>
				<add name="UyelikSaglayici"
					 type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
					 connectionStringName="siteDB"
					 enablePasswordRetrieval="false"
					 enablePasswordReset="true"
					 requiresQuestionAndAnswer="true"
					 applicationName="/"
					 requiresUniqueEmail="true"
					 passwordFormat="Clear"
					 maxInvalidPasswordAttempts="5"
					 minRequiredPasswordLength="5"
					 minRequiredNonalphanumericCharacters="1"
					 passwordAttemptWindow="5"
					 passwordStrengthRegularExpression=""/>
			</providers>
		</membership>

		<roleManager enabled="true"
					 cacheRolesInCookie="true"
					 cookieName=".ASPXROLES"
					 cookieTimeout="30"
					 cookieSlidingExpiration="true"
					 cookieProtection="All"
					 cookiePath="/"
					 defaultProvider="RolSaglayici">
			<providers>
				<add name="RolSaglayici"
					 type="System.Web.Security.SqlRoleProvider"
					 connectionStringName="siteDB"
					 applicationName="/"/>
			</providers>
		</roleManager>

	</system.web>

	<connectionStrings>
		<add name="siteDB" connectionString="Data Source=HABILUGUR\SQLEXPRESS;Initial Catalog=Proje;Integrated Security=True"/>
	</connectionStrings>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>

</configuration>